/*  CORE */
body {
    font-family: sans-serif;
    background-color: #FFACAC;
}

.container {
    width: 1140px;
    height: 100%;
    margin: 0 auto;
    background-color: #F7D060;
}

.image img {
    height: auto;
    width: 90%;
}

.sub-title {
    letter-spacing: 2px;
    font-size: 23px;
    font-weight: 300;
    margin-bottom: 10px;
    color: #FF6D60;
    text-transform: uppercase;
}

.title {
    letter-spacing: 3px;
    font-size: 35px;
    font-weight: 600;
    margin-top: 5px;
    color: #FF6D60;
    text-transform: uppercase;
}

.description {
    font-size: 14px;
    font-weight: 300;
    color: #FF6D60;
    line-height: 27px;

}

.button {
    border: none;
    background-color: #98D8AA;
    font-weight: 500;
    font-style: 30px;
    padding: 24px 30px;
    cursor: pointer;
    border-radius: 5px;

}

.button:hover {
    color: #3C486B;
    background-color: #FF6D60;
    transform: scale(1.05);
}

.action {
    margin-top: 30px;
}

.blur-line {
    display: inline-block;
    margin-left: 5px;
    height: 5px;
    width: 100px;
    vertical-align: middle;
    background-color: rgba(237, 35, 159, .6);
    filter: blur(4px)
}

/* / ABOUT ME  */

/*  / CORE */

/* HEADER */
.main-header{
    width: 100%;
    background-color: #2D2727;
}
.main-header__brand {
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand:hover {
    transform: scale(1.03);
}

.main-header__brand img {
    width: 64px;
    height: 64px;
    vertical-align: middle;
    margin: 10px 25px;
}

.main-navigation {
    display: inline-block;
    vertical-align: middle;
}

.main-navigation__item {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
}

.main-navigation__item a {
    text-decoration: none;
    text-transform: uppercase;
    color: #FF6D60;
    font-weight: 500;
}

.main-navigation__item a:hover {
    color: #F6F1E9
}

.main-navigation__item a:active {
    color: #F6F1E9
}

/* /HEADER */


/* MAIN Section  */
.to-upper {
    text-transform: uppercase
}

.main-section {
    padding: 100px 30px;
}

.background-jpg {
    width: 1140px;
    opacity: .2;
    display: none;
}

.clearfix {
    clear: both
}

.main-section>div {
    width: 50%;
    float: left;
}

.main-section__image {
    text-align: right;
    display: inline-block;

}

.main-section__image img {
    max-height: 360px;
    max-width: 360px;
}

.main-section__welcome {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #797979;

}

.main-section__introduction {
    margin-top: 20px;
    font-style: 60px;
    font-weight: 500;
    margin-bottom: 50px;
    color: #05364e;

}

.main-section__position {
    color: #05364e;
    font-style: 24px;
    font-weight: 300;
    margin-bottom: 30px;
}

.main-section__social-networks a {
    color: #8fa1aa;
    font-size: 30px;
    display: inline-block;
    margin-right: 20px;
    cursor: pointer
}

.main-section__action {
    margin-top: 30px;
}

/* MAIN Section  */

/* STATISTICS */
.statistics {
    padding-top: 100px;
}

.statistics__item {
    display: inline-block;
    vertical-align: middle;
    padding: 30px;
    background-color: #2D2727;
    border-radius: 6px;
    margin: 20px 20px;
    text-align: center;
    width: 190px;
    height: 140px;
}

.statistics__item:hover {
    background-color: #FF6D60;
    color: #2D2727;
}

.statistics__number {
    font-size: 37px;
    color: cadetblue
}

.statistics__title {
    font-size: 22px;
    color: #F3E99F;
    font-weight: 300
}

.statistics__item h3 {
    color: #F3E99F;
    text-transform: uppercase;
    font-weight: 300;
}

.statistics__item p {
    color: #F3E99F;
    font-style: 30px;
    text-transform: uppercase;
}

/* / STATISTICS */

/* ABOUT ME  */
.about-me {
    padding: 100px 0px
}

.about-me>div {
    width: 50%;
    float: left
}

/* SERVICES */
.services {
    padding: 10px;

}

.service-card {
    display: inline-block;
    background-color: #2D2727;
    padding: 60px 30px;
    margin: 3px;
    text-align: center;
    vertical-align: middle;
    width: 30%;
    height: 100%;
    box-sizing: border-box;
}

.service-card img {
    width: 55%;
    height: auto;
}

.service-card__title {
    color: #F3E99F;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.service-card__description {
    color: #F3E99F;
    font-size: 16px;
    line-height: 27px;
    font-weight: 300;
    margin-bottom: 20px;
}

.service-card__link {
    text-decoration: none;
    color: #F3E99F;
    font-size: 13px;
    line-height: 27px;
    text-transform: uppercase;
}

.service-card:hover {
    background-color: #FF6D60;

}

.service-card:hover .service-card__description,
.service-card:hover .service-card__link,
.service-card:hover .service-card__title,
.service-card:hover .service-card {
    background-color: #FF6D60;
    color: #2D2727;

}