/*  CORE */
body {
    font-family: sans-serif;
}

.container {
    width: 1140px;
    height: auto;
    margin: 0 auto;
    background-color: bisque;
}

/*  / CORE */

/* HEADER */
.main-header__brand {
    display: inline-block;
    vertical-align: middle;
}
.main-header__brand:hover{
    transform: scale(1.03);
}
.main-header__brand img {
    weight: 64px;
    height: 64px;
    margin:10px;
}

.main-navigation {
    display: inline-block;
    vertical-align: middle
}

.main-navigation__item {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
}

.main-navigation__item a {
    text-decoration: none;
    text-transform: uppercase;
    color: #05364d;
    font-weight: 500;
}

.main-navigation__item a:hover {
    color: #efb6df
}

.main-navigation__item a:active {
    color: #efb6df
}

/* /HEADER */


/* MAIN Section  */
.to-upper {
    text-transform: uppercase
}

.main-section {
    padding: 100px 30px;
}

.clearfix {
    clear: both
}

.main-section>div {
    width: 50%;
    float: left;
}

.main-section__image {
    text-align: right;
    display: inline-block;

}

.main-section__image img {
    max-height: 360px;
    max-weight: 360px;
}

.main-section__welcome {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #797979;

}

.main-section__introduction {
    margin-top: 20px;
    font-style: 60px;
    font-weight: 500;
    margin-bottom: 50px;
    color: #05364e;

}

.main-section__position {
    color: #05364e;
    font-style: 24px;
    font-weight: 300;
    margin-bottom: 30px;
}
.main-section__social-networks a{
    color: #8fa1aa;
    font-size: 30px;
    display:inline-block;
    margin-right: 20px;
    cursor:pointer
}
.main-section__action {
    display: block;
    margin-top: 30px;
    border: none;
    background-color: #1c44e4;
    font-weight: 500;
    font-style: 30px;
    padding: 24px 30px;
    cursor: pointer;
    border-radius: 5px;
}

/* MAIN Section  */

/* STATISTICS */
.statistics {
    padding-top: 100px;
}

.statistics__item {
    display: inline-block;
    vertical-align: middle;
    padding: 30px;
    background-color: darkgray;
    border-radius: 6px;
    margin: 20px 20px;
    text-align: center;
    width: 190px;
    height: 140px;
}

.statistics__item:hover {
    background-color: rgb(201, 180, 180);
    transform: scale(1.05);
    border: 2px dashed brown
}

.statistics__number {
    font-size: 37px;
    color: cadetblue
}

.statistics__title {
    font-size: 22px;
    color: #ba43ff;
    font-weight: 300
}

.statistics__item h3 {
    color: brown;
    text-transform: uppercase;
    font-weight: 300;
}

.statistics__item p {
    color: #797979;
    font-style: 30px;
    text-transform: uppercase;
}

/* STATISTICS */