/*  CORE */
body{
    font-family: sans-serif;
}
.container{
    width:1140px;
    margin:0 auto
}
/*  / CORE */

/* HEADER */
.main-header__brand{
    display:inline-block;
    vertical-align:middle;
}

.main-header__brand img{
    weight:64px;
    height:64px
}
.main-navigation{
    display:inline-block;
    vertical-align:middle
      
}
.main-navigation__item{
    display:inline-block;
    vertical-align:middle;
    padding:10px;
}
.main-navigation__item a{
    text-decoration:none;
    text-transform:uppercase;
    color:#05364d;
    font-weight:500;
}
.main-navigation__item a:hover{
    color:#efb6df
}
.main-navigation__item a:active{
    color:#efb6df
}
/* /HEADER */
